[Unit]
Description=etcd key-value store
Documentation=https://etcd.io/docs/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=etcd
Group=etcd
EnvironmentFile=/etc/etcd/etcd.env
ExecStart={{ etcd_install_dir }}/etcd
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536
LimitNPROC=4096

[Install]
WantedBy=multi-user.target
