ETCD_NAME={{ inventory_hostname }}
ETCD_DATA_DIR={{ etcd_data_dir }}

ETCD_LISTEN_PEER_URLS=http://0.0.0.0:{{ etcd_peer_port }}
ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:{{ etcd_client_port }}

ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ inventory_hostname }}:{{ etcd_peer_port }}
ETCD_ADVERTISE_CLIENT_URLS=http://{{ inventory_hostname }}:{{ etcd_client_port }}

ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_cluster_token }}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_cluster_state }}
ETCD_INITIAL_CLUSTER={% for host in groups['etcd'] %}{{ host }}=http://{{ host }}:{{ etcd_peer_port }}{% if not loop.last %},{% endif %}{% endfor %}
