[defaults]
inventory       = inventory.ini
host_key_checking = false
deprecation_warnings = false
interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_args = -o IdentityAgent=/run/user/1000/gcr/ssh -o ControlMaster=auto -o ControlPersist=60s
