Q1_NODE_ID={{ inventory_hostname }}
Q1_HOST={{ hostvars[inventory_hostname]['ansible_host'] | default(inventory_hostname) }}
Q1_PORT={{ q1_port }}
Q1_RAFT_PORT={{ q1_raft_port }}
Q1_GRPC_PORT={{ q1_grpc_port }}
Q1_DATA_DIR={{ q1_data_dir }}
Q1_PEERS={{ q1_peers }}
Q1_PARTITIONS={{ q1_partitions }}
Q1_EC_K={{ q1_ec_k }}
Q1_EC_M={{ q1_ec_m }}
Q1_REPAIR_INTERVAL_S={{ q1_repair_interval_s }}
Q1_REPAIR_BATCH_SIZE={{ q1_repair_batch_size }}
