Q1_NODE_ID={{ inventory_hostname }}
Q1_HOST={{ hostvars[inventory_hostname]['ansible_host'] | default(inventory_hostname) }}
Q1_PORT={{ q1_port }}
Q1_RAFT_PORT={{ q1_raft_port }}
Q1_DATA_DIR={{ q1_data_dir }}
Q1_PEERS={{ q1_peers }}
